.seiga-card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 1rem;
}

.seiga-card .seiga-card-header {
    font-size: 1.125rem;
    font-weight: bold;
    border-bottom: 2px solid #e5e7eb;
}

.seiga-card .seiga-card-content {
    font-size: 0.875rem;
    margin-top: 1rem;
}

.seiga-card-frosted {
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px) saturate(120%);
}

.seiga-flex-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}